{% extends 'base.html.twig' %}

{% block title %}{{forma.name}}{% endblock %}

{% block body %}

<main>
  <h1>{{forma.name}}</h1>
  <video autoplay controls><a href={{forma.video}}></a></video>
  <div>{{forma.contenu}}</div>
  
  
    <div class="card">
      <img class="card-img-top" src={{forma.getNomAuteur.photo}} alt={{forma.getNomAuteur.nom}}>
      <div class="card-body">
        <h5 class="card-title">Publié par : {{forma.getNomAuteur.getNom}} {{forma.getNomAuteur.getPrenom}}</h5>
                  
      </div>
    </div>

  

</main>

{% endblock %}
