{% extends 'base.html.twig' %}

{% block title %}{{forma.name}}{% endblock %}

{% block body %}

<main>
  <h1>{{forma.name}}</h1>
  <embed type="video/webm" src="{{ forma.video }}" width="400" height="300">
  
  <div>{{forma.contenu}}</div>
  
  
    <div class="card">
      <img class="card-img-top" src="{{ asset('upload/photoprofil/') }}{{forma.getNomAuteur.photo}} alt={{forma.getNomAuteur.nom}}>
      <div class="card-body">
        <h5 class="card-title">Publié par : {{forma.getNomAuteur.getNom}} {{forma.getNomAuteur.getPrenom}}</h5>
                  
      </div>
    </div>
  <a type="button" href={{ path ('app_addprogression') }}>Terminé</a>
  

</main>

{% endblock %}
