{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<main>
    <div class="inscription">
        <p>Pas encore inscrit,<br>
            inscrivez vous et  suivez gratuitement nos formations</p>

        {{ form_start(registrationForm) }}
            <div class="pageco">
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="connectbtn">Inscription</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
    <div class="linkcgu">
        <a href={{ path ('app_cgu') }}>Conditions Générales d'utilisation</a>
    </div>
</main>
{% endblock %}
