{% extends 'base.html.twig' %}

{% block title %}Liste des Formations {% endblock %}

{% block body %}
    <h1>Liste des Formations</h1>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr class="d-flex">
                <th class="col-1">Id</th>
                <th class="col-1">Titre</th>
                <th class="col-1">Lien Image</th>
                <th class="col-2">Description courte</th>
                <th class="col-3">Contenu</th>
                <th class="col-1">Lien Video</th>
                <th class="col-1">Date de création</th>
                <th class="col-1">Slug</th>
                <th class="col-1">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr class="d-flex">
                <td class="col-1">{{ formation.id }}</td>
                <td class="col-1">{{ formation.name }}</td>
                <td class="col-1">{{ formation.image }}</td>
                <td class="col-2">{{ formation.description }}</td>
                <td class="col-3">{{ formation.contenu }}</td>
                <td class="col-1">{{ formation.video }}</td>
                <td class="col-1">{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="col-1">{{ formation.slug }}</td>
                <td class="col-1">
                    <a href="{{ path('app_create_forma_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_create_forma_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune formation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_create_forma_new') }}">Créer une nouvelle formation</a>
{% endblock %}
