{% extends 'base.html.twig' %}

{% block title %}EcoIT{% endblock %}

{% block body %}
<main>
      <h1 class="accueil">Apprendre à coder facilement <br>et devenir un développeur web <br>eco-responsable !</h1>
      <div class="container">
        <section class="row justify-content-center align-items-center">
          <aside class="col-3">
            <div class="row justify-content-center">
              <img class="col-8" src="{{ asset('assets/ressources/woman.jpg') }}" alt="">
            </div>
          </aside>
          <p class="col-lg-5 presentation">C’est un fait, la crise écologique est devenue une urgence majeure. La sixième extinction massive 
            a déjà commencé et le changement climatique se fait de plus en plus ressentir au fil des années. 
            Mais qu’en est-il d’internet ?<br>
            En matière d’émissions de CO2, il pollue 1.5 fois plus que le transport aérien. D’ailleurs, en 
            20 ans, le poids d’une page web a été multiplié par 115 (source : https://www.greenit.fr/)<br> 
            Face à ce constat, ECOIT un organisme de formation a été fondé en 2017. Notre objectif est d’être 
            une plateforme d’éducation permettant à tout instructeur expert en accessibilité et en éco-conception 
            web de présenter des modules de cours. <br>
            À terme, EcoIT désire devenir la référence française pour les développeurs soucieux de leur impact 
            digital. Et pourquoi pas délivrer enfin un label officiel pour classer les sites web selon leur 
            empreinte numérique. </p>
          <aside class="col-3">
            <div class="row justify-content-center align-items-center">
              <img class="col-8" src="{{ asset('assets/ressources/coffee.jpg') }}" alt="">
            </div>
          </aside>
        </section>
        <section class="row justify-content-center">
          <img class="col-8" src="{{ asset('assets/ressources/ecoweb.jpg') }}" alt="">
        </section>
      </div>
      <div class="container">
        <section class="row">
          <div class="col-12 actuformation">
            <h4>Nos dernières formations</h4>
          </div>
        </section>
        <section class="row">
        {% for forma in formations %}        
          <div class="col-4 g-2 d-flex align-content-stretch flex-wrap">
              <div class="card article-formation">
                  <div class="aligncenter">
                      {% if app.user %}
                          <a href={{ path ('app_detail', {slug: forma.slug})}}><img class="card-img-top" src="{{ asset('upload/images/') }}{{ forma.image }}" alt="{{ forma.name }}"></a>
                      {% else %}
                          <a href={{ path ('app_detail', {slug: forma.slug})}}><img class="card-img-top" src="{{ asset('upload/images/') }}{{ forma.image }}" alt="{{ forma.name }}"></a>
                      {% endif %}                              
                                          
                  </div>
                  <div class="card-body mb-2">
                      <h5 class="card-title">{{ forma.name }}</h5>
                      <p class="card-text">{{ forma.description }}</p>                    
                  </div>
                  <div class="card-footer d-flex flex-column">
                      <p class="card-text">Section : {{ forma.section.name}}</p>                            
                      <button class="connectbtn align-self-end">
                          {% if app.user %}
                              <a href={{ path ('app_detail', {slug: forma.slug})}}>Lire la suite</a>
                          {% else %}
                              <a href={{ path ('app_register') }} >Lire la suite</a>
                          {% endif %}
                      </button>                            
                  </div>
              </div>
          </div>                              
        {% endfor %}
        </section>
      </div>
    </main>
{% endblock %}
