{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<<<<<<< HEAD
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path ('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">Connexion</button>
    </form>
=======
<main>
    <div class="connexion">
        <h4>Se connecter</h4>
    </div>
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="connexion">
        <form class="pageco pageco-connexion" action="{{ path ('app_login') }}" method="post">
            <div>
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="_password"/>
            </div>
            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}
            <div>
                <button class="connectbtn" type="submit">Connexion</button>
            </div>
        </form>
    </div>
    <div class="linkcgu">
        <a href={{ path ('app_cgu') }}>Conditions Générales d'utilisation</a>
    </div>
</main>
>>>>>>> master
{% endblock %}
