{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main>
    <h1>Contactez-nous</h1>
    <div class="connexion">
    {{ form_start(form) }}
        <div class="pageco">
            {{ form_row(form.nom, {'attr':{'class':'form-control'}}) }}
            {{ form_row(form.email, {'attr':{'class':'form-control'}}) }}
            {{ form_row(form.message, {'attr':{'class':'form-control'}}) }}
            
            <button type="submit" class="connectbtn">Envoyer</button>
        </div>
    {{ form_end(form) }}
    </div>
</main>
{% endblock %}
