{% extends 'base.html.twig' %}

{% block title %}Catalogue formations{% endblock %}

{% block body %}

<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Nos formations</h1>
        </div>
               
        {% for customsection in section %}
            <div class="col-12">
                <h3 class="namesection">- {{ customsection.name}}</h3>
            </div>
            {% for forma in customsection.formations %}
                <div class="col-3 article-formation">
                    <div class="img-top">            
                        <img src="{{ asset('upload/images/') }}{{ forma.image }}" alt="">
                    </div>
                    <div class="corp">
                        <h5 class="titre">{{ forma.name }}</h5>
                        <p class="texte">{{ forma.description }}</p>                    
                    </div>
                    <button class="connectbtn">
                        <a href={{ path ('app_detail', {slug: forma.slug})}}>Lire la suite</a>
                    </button>
                </div>
                </div>   
            {% endfor %}
        {% endfor %}
    </section>
</main>
{% endblock %}
