{% extends 'base.html.twig' %}

{% block title %}Catalogue formations{% endblock %}

{% block body %}

<main class="container">
    {{ form(form) }}
    {% if app.user %}
    <div class="filtre">
        <input type="radio" id="termine" name="filtreforma">
        <label for="termine">Formations terminé</label>
        <input type="radio" id="encour" name="filtreforma">
        <label for="encour">Formations non terminé</label>
        <input type="radio" id="toute" name="filtreforma">
        <label for="toute">Toutes les formations</label>
    </div>
    {% endif %}
    <section class="row">
        <div class="col-12">
            <h1>Nos formations</h1>
        </div>              
        
        {% for forma in formations %}
        {% set classTermine = false %}
            {% for prog in progressions %}
                {% if  prog.formation == forma %}
                    {% set classTermine = true %}
                {% endif %}
            {% endfor %}
            <div class="col-3 article-formation {{ classTermine ? 'class-termine' : 'class-nontermine'}}">
                <div class="img-top">            
                    <img src="{{ asset('upload/images/') }}{{ forma.image }}" alt="{{ forma.name }}">
                </div>
                <div class="corp">
                    <h5 class="titre">{{ forma.name }}</h5>
                    <p class="texte">{{ forma.description }}</p>                    
                </div>
                <div>
                    <p>Section : {{ forma.section.name}}</p>
                <button class="connectbtn">
                    {% if app.user %}
                        <a href={{ path ('app_detail', {slug: forma.slug})}} class="button">Lire la suite</a>
                    {% else %}
                        <a href={{ path ('app_register') }} class="button">Lire la suite</a>
                    {% endif %}
                </button>
            </div>
            </div>   
        {% endfor %}
        
    </section>
</main>
{% endblock %}
